{% extends "base.html" %}

{% block start %}

<section class="colorful jumbotron mb-0" role="banner">
    <div class="container hotels-container">

        <div class="row mt-5 justify-content-between">
            <div class="col-md-8 text-white align-self-center mb-2 p-4">
                <h1>Booking App</h1>
                <span class=""> Witamy na stronie Booking App, na której można zarezerwować pobyt w hotelu!
                </span>
            </div>
           
        </div>
    </div>
</section>

<section class="search-container mb-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="row my-3">
                    
                   

                    
                </div>
                <div class="row mt-2 justify-content-between">
                    <div class="filter-card">
                        <h5>Filtruj</h5>
                        <form action="#">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="mintopay">Od</label>
                                    <p>
                                        <input type="date" name="checkin" id="checkin" class="form-control">
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <label for="maxtopay">Do</label>
                                    <p>
                                        <input type="date" name="checkout" id="checkout" class="form-control">
                                    </p>
                                </div>
                            </div>
                           
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-block" value="Wybierz">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 px-4 mb-5">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label class="" for="exampleFormControlSelect1">Sortuj</label>
                            <select class="form-control" name="sort_by" id="exampleFormControlSelect1">
                                <option value="">Rekomendowane</option>
                                <option {% if sort_by == 'ASC' %} selected {%endif %} value="ASC">Rosnąco</option>
                                <option {% if sort_by == 'DSC' %} selected {%endif %} value="DSC">Malejąco</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label class="" for="exampleFormControlSelect1">Szukaj</label>
                            <input name="search" class="form-control"> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-inline">
                           <label class="" for="exampleFormControlSelect1">Udogodnienia</label>
                            <select name="amenities" class="form-control" multiple>
                                {% for amenities_obj in amenities_objs %}
                                <option {% if amenities_obj.amenity_name in amenities  %} selected {%endif%}value="{{amenities_obj.amenity_name}}">{{amenities_obj.amenity_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                     
                            <button style="margin-top: 30px;" type="submit" class="btn btn-success">Znajdź</button>
                    </div>
                </div>
                </form>
                {% for hotels_obj in hotels_objs %}
                <div class="row search-card-result">
                    <div class="col-md-3"> 
                    <a href="/hotel-detail/{{hotels_obj.uid}}">
                        <img class="img-fluid" src="/media/{{hotels_obj.images.first.images}}" alt="Card image cap">
                    </a>
                    </div>
                    <div class="col-md-5">
                        <h5>{{hotels_obj.hotel_name}}</h5>
                        <p>
                            {{hotels_obj.description|truncatechars:150}}
                        </p>
                        <p>
                            {%for amenitie in hotels_obj.amenities.all %}
                            <b>{{amenitie.amenity_name}}</b>,
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-md-2 border-left text-center more-offers">
                        <p>Cena za noc</p>
                        <p>{{hotels_obj.hotel_price}} zł</p>
                        <p>Liczba pokoi</p>
                        <p>{{hotels_obj.room_count}}</p>
                    </div>
                    <div class="col-md-2 border-left text-center more-offers">
                        <a style="margin-top: 50%;" type="button" href="/" class="btn btn-success">Zarezerwuj</a>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>

    </div>
</section>

{% endblock %}