{% extends "base.html" %}

{% block start %}

<div class="container mt-5 pt-5 col-6">
    <form method="POST">
        {% csrf_token %}
        {% include "messages.html" %}
        <div class="mb-3">
          <legend>Zarejestruj profil</legend>
          <label for="exampleInputEmail1" class="form-label">Adres email</label>
          <input type="text" name="username" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Hasło</label>
          <input type="password" name="password1" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Zarwierdź</button>
    </form>
</div>

{% endblock %}